
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional background color */
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 1rem;
    width: 1000px;
  }

  .products {
    display: flex;
    height: 500px;
    width: 500px;
    text-align: center;
    border: 10px solid grey;
    flex-direction: column;
    padding: 10px;
    gap: 1.6rem;
    overflow: scroll;
  }

  .product1 {
    display: flex;
    height: max-content;
    width: auto;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(136, 133, 133);
    padding: 15px;
    color: white;
  }

  .quantity {
    display: flex;
    height: max-content;
    width: 100px;
    justify-content: space-around;
    text-align: center;
    border: 1.2px solid black;
    background-color: rgb(121, 121, 238);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    color: white;
  }

  .quantity button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: white;
    font-size: 1rem;
  }

  .cart {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    text-align: center;
    border: 10px solid grey;
    padding: 10px;
    justify-content: space-between;

  }

  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 15px;
    color: white;
    margin-bottom: 10px;
    
  }

  .content {
    display: flex;
    align-items: center;

  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 49, 49);
    padding: 10px;
    color: white;
  }

  .cartContent > p{
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 1.3rem;
  }
  .cartContent{
    display: flex;
    justify-content: flex-start;
    height: 300px;
    width: auto;
    flex-direction: column;
    overflow: scroll;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }

    .products,
    .cart {
      width: 100%;
    }
  }
